<div class="main-wrap content-wrap">
    <div class="headline">
        <div class="img-place-holder"></div>
    </div>
    <div class="content-inner">
        <div class="question">
            <h2 class="question-title"></h2>
            <div class="answer">
                <div class="content">
                    <p style="text-align: center;">* * *</p>
                    <p style="text-align: center;">内心敏感得像个刺猬一样</p>
                    <p style="text-align: center;">受到点伤害就缩成一团</p>
                    <p style="text-align: center;">再也不敢打开</p>
                    <p style="text-align: center;">* * *</p>
                </div>
            </div>
        </div>
        <div class="question">
            <h2 class="question-title">你在哪一刻体验到了真正的贫富差距？</h2>
            <div class="answer">
                <div class="meta"><img class="avatar" src="http://pic4.zhimg.com/daec35f051a38e65ff1a4660df442073_is.jpg"><span class="author">不落言，</span><span class="bio">今世若无权惦念 迟一点 天上见</span></div>
                <div class="content">
                    <p>大学的时候，作死不小心用刀把手掌虎口那里划了很大一个口子，到小医院时医生一摁飚了一身血，看了看情况说这得赶紧去大医院，没办法只好去大一点的医院。做了手术，住了几天院。</p>
                    <p>一开始，抵死不告诉爸妈，一是自己觉得没什么，二是大学离家太远了，很怕麻烦他们。</p>
                    <p>可是没办法，吃饭啊晚上换药什么都没人照顾，只好给妈妈打电话。</p>
                    <p>然后她只能临时买火车票，当然没有座位，从老家到帝都，在火车上站了十二个小时过来，整整一夜。</p>
                    <p>至于手上的那个伤口，居然打了一胳膊的石膏，做什么都很不方便。</p>
                    <p>终于出院了，老妈送我回学校，路挺远的。她说查了一下，门口就有个地铁站，坐地铁吧。</p>
                    <p>我当时就有点担心北京地铁比较挤，会磕碰到伤处，于是提议坐出租吧，帝都出租你们知道的，很贵，起码比地铁那几块钱贵很多。</p>
                    <p>我妈就有点犹豫，她说地铁很方便啊就在门口。</p>
                    <p>我知道她是心疼钱，她和爸爸都是这样的，不敢花钱，家里能维持温饱的，但其他娱乐之类额外支出都没有。</p>
                    <p>我小时候性格还算活泼，但是内心其实敏感得像个刺猬一样，受到点伤害就缩成一团，再也不敢打开。从小看着他们这种处处小心翼翼的拮据，久而久之，我明白了一件事，我家是贫穷的，是没有资本的。于是也学着处处省吃俭用，有些情况下，甚至会发生一些伤自尊的事。</p>
                    <p>说起来，我到现在没进过肯德基或麦当劳，也没去过咖啡厅，电影院，甚至一家人都极少去过餐馆。一是因为怕贵浪费钱，二，我都很难解释我那纠结成九曲十八弯的小心思，生怕进去的时候因为不懂怎么做，被人嘲笑。</p>
                    <p>这种畏惧表现在方方面面，哪怕上了大学，手中有了可以支配的钱，也还是畏手畏脚。</p>
                    <p>一边是极度自卑，另一边却是极强的自尊心，没有经历过的，永远不知道那有多折磨人。</p>
                    <p>我妈说完坐地铁后，我没说什么，同意了。</p>
                    <p>于是我们坐地铁，跟着人流进去，看着地铁黑漆漆的窗口映出自己好几天没收拾过的狼狈样子，站着发了一路呆。</p>
                    <p>很奇怪，当时切开手看见血口子的时候没哭，流着血打车去医院结果堵车堵得动不了的时候没哭，一个人胆战心惊地躺在床上做手术的时候没哭，没人看望的时候，也没哭，一直都很平静，好像只是做了个梦一样。</p>
                    <p>可是就在那天，走出地铁以后，捧着手慢吞吞走在马路上的时候，忽然就泪如雨下，一只手怎么也擦不完，没办法，只好停下来，大太阳下蹲在地上，哭到整个人发抖，我妈在前面拎着东西，回过头来，一脸惊愕地看着我。</p>
                    <p>这几年他们常常会问我，为什么长大了以后忽然就变得这么内向了啊？不爱说话，也不爱笑，我都没有回答过，一提到就沉默。</p>
                    <p>我知道这不是任何人的错，我知道这种事无人可责怪，我知道人各有命。</p>
                    <p>少年时候不敢说从来没恨过，现在却懂了一件事。</p>
                    <p>他们已经尽力了。</p>
                    <p>就在那个学期末，我买火车坐票回家，依旧是漫长的十二个小时的路程，打水时在车厢尾看到一个席地而坐的佝偻背影，那一瞬间，好像看到了那时匆匆北上，只能在角落里站了一夜的母亲。</p>
                    <p>忍了很久，还是哭了。</p>
                </div>
            </div>
            <div class="view-more"><a href="http://www.zhihu.com/question/56322619">查看知乎讨论<span class="js-question-holder"></span></a></div>
        </div>
    </div>
</div>


<div class="main-wrap content-wrap">
    <div class="headline">
        <div class="img-place-holder"></div>
    </div>
    <div class="content-inner">
        <div class="question">
            <h2 class="question-title">打什么官司都需要找律师吗？</h2>
            <div class="answer">
                <div class="meta"><img class="avatar" src="http://pic2.zhimg.com/bd4a9b5e7a198669f40467e39a33fdbd_is.jpg"><span class="author">jessiexu，</span><span class="bio">律师</span></div>
                <div class="content">
                    <p>回忆一次开庭的场景，很简单的一个案子，对方没有委托律师</p>
                    <p>法官：被告，我们这个是简易程序，你需不需要补充证据，延长举证时间。</p>
                    <p>被告：我也不知道</p>
                    <p>法官：你现在必须做个决定，如果需要我们就休庭，另选日期开庭</p>
                    <p>被告：我听不懂你说什么</p>
                    <p>法官：就是说你还需不需要时间回去找证据</p>
                    <p>被告：可能需要，我回去考虑一下</p>
                    <p>法官：你现在就要做决定</p>
                    <p>被告：我哪知道我需不需要再找证据啊</p>
                    <p>法官：你就回答需要或者不需要</p>
                    <p>被告：我又不懂你说的这些</p>
                    <p>法官：你不懂你找个懂得人来啊</p>
                    <p>被告：我们家都没有懂得</p>
                    <p>法官：那你请个律师啊</p>
                    <p>被告：（拍桌子站起来）我凭什么请律师，谁说打官司要请律师了，你们法官向着律师说话，你们穿一条裤子&hellip;&hellip;（此处省略若干字）</p>
                    <p>法官：（高声）我跟你说话你听不明白，所以我让你找个明白人，有问题吗</p>
                    <p>被告：(走到法官处，指着法官）重复前面一段话中的若干内容</p>
                    <p>法官：你回到座位上去，注意你的态度。</p>
                    <p>被告：我什么态度，你凭什么对我这么横。就是看我不顺眼，就是偏向对方，信不信我投诉你&hellip;&hellip;</p>
                    <p>接下来吵架 15 分钟，未压住被告后，法官态度开始缓和，绕过刚才的话题，直接进入审理程序。我和我的当事人都被吵蒙了，还没开庭，先吵了几十分钟架。这个案子法官试图调解，但是没调成，最后全部支持了我方诉讼请求。</p>
                    <p>---</p>
                    <p>一个拆迁后分家析产案件的当事人，在电话里跟我咨询了很久，后来所又咨询。从现有的证据看对我方很有利，告知其有诉讼优势，并且因为其有强烈委托意愿将部分诉讼策略也告知了。最后当事人没有委托，自己去开庭了，过了很长一段时间打电话给我，说一审判决下来了，对方获得的利益超出了我当初给做的分析，拿到他的判决书后发现，开庭中，当事人自认了很多对方没有证据证明的事实，问其为什么 要自认这些内容，他说法官引导他说的，问什么答什么，也不知道会有这么大的影响。</p>
                    <p>当事人后悔不已，委托我们做了二审，但是告知他二审改判可能性不大，因为自认的很多事实是法院判决的主要依据，是没有法律问题的。二审法院驳回了上诉，不过这个当事人后来跟我说，通过这个事明白了专业的事得由专业的人做。并且后来又介绍了两个案子给我。</p>
                    <p>---</p>
                    <p>一个离婚案件的当事人，她老公婚前的一套房，婚后通过两次更名变更到她名下了，第一次加名，第二次全部变更到她一个人名下。她来所里找律师，跟我说她已经把司法考试的三大本都学完了，要找一个理论知识过硬的律师来探讨一下案件。在所里一共晃悠了差不多一个多月，拒绝交咨询费，我们没有提供咨询，但是她就每天来所里在所里碰到律师就问，最后也不知道她的案子委托了律师没有，这样的当事人其实很多。</p>
                    <p>当年在一个房产律师事务所，我们每个周末都有关于拆迁的普法课程，有一个大娘每一期都来，到后来都快成为我们的场外讲师了，每天早早来，给其他当事人讲，因为她学的东西经过自己的加工会有一些偏差，为了避免其误导其他当事人，我们无奈之下想了一个办法，就是在课程开始前，当事人陆陆续续来了在会议室等候的时候，把暖场 PPT 音乐声音放的大大的，让当事人之间没办法聊天。这个大娘学习拆迁知识就是想自己处理家里的拆迁事情，我都从那个所离职了，她也没委托律师，还在当钉子户，自学维权知识。</p>
                    <p>---</p>
                    <p>说了这么多，是不是所有的案子都必须委托律师呢，客观的说并不是，对于法律关系简单，争议标的不大的案件，<strong>有一些</strong>当事人是可以自己处理的，案件的起诉程序，可以通过付费咨询获得，包括文书起草。但前提是一定不是像我第一个例子中说的当事人那样，连正常的话都听不懂，而且也无法正常交流。</p>
                    <p>其实在一些相关部门处理过信访的人应该对这类当事人最有体会了。一般他们会说，我好冤枉啊，法官被收买了，这个案子我这么 有理都输了。知乎上有个当事人给我私信说，我们当地的公检法和律师都被对方买通了。其实往往就是在一审的时候不愿意找律师，自己该提交的证据不提交，开庭什么该说什么不该说完全不知道，写的文书跟信访材料一样，满篇都是描述情绪，自己推理或者谩骂对方的，关于请求权基础的只字没有，甚至有的当事人连诉讼请求都写不明白，就别说案由和其他的了。</p>
                    <p>最后再补充一句，这些当事人真的不是没有钱请不起律师，实在困难没有钱的，可以申请法律援助，政府买单~~他们就是觉得给律师身上花钱是浪费，自己那么&ldquo;有理&rdquo;，律师无非也就是动动嘴皮子，我通过咨询套出来点东西就足够了。</p>
                </div>
            </div>
            <div class="view-more"><a href="http://www.zhihu.com/question/51197931">查看知乎讨论<span class="js-question-holder"></span></a></div>
        </div>
    </div>
</div>

